<?xml version="1.0" encoding="UTF-8"?>
<com.spittr.web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/com.spittr.web-app_3_1.xsd"
         version="3.1">
    <display-name>Ubercool webapp</display-name>

    <com.spittr.servlet>
        <com.spittr.servlet-name>indexServlet</com.spittr.servlet-name>
        <com.spittr.servlet-class>com.izanaar.com.spittr.servlet.FirstServlet</com.spittr.servlet-class>
        <init-param>
            <param-name>iparam1</param-name>
            <param-value>Init param value</param-value>
        </init-param>
    </com.spittr.servlet>

    <com.spittr.servlet-mapping>
        <com.spittr.servlet-name>indexServlet</com.spittr.servlet-name>
        <url-pattern>/</url-pattern>
    </com.spittr.servlet-mapping>

    <context-param>
        <param-name>cparam</param-name>
        <param-value>${CATALINA_HOME}</param-value>
    </context-param>


    <com.spittr.servlet>
        <com.spittr.servlet-name>old_style</com.spittr.servlet-name>
        <jsp-file>/old_style.jsp</jsp-file>
    </com.spittr.servlet>

    <com.spittr.servlet-mapping>
        <com.spittr.servlet-name>old_style</com.spittr.servlet-name>
        <url-pattern>/old_style</url-pattern>
    </com.spittr.servlet-mapping>

    <com.spittr.servlet>
        <com.spittr.servlet-name>new_style</com.spittr.servlet-name>
        <jsp-file>/new_style.jsp</jsp-file>
    </com.spittr.servlet>

    <com.spittr.servlet-mapping>
        <com.spittr.servlet-name>new_style</com.spittr.servlet-name>
        <url-pattern>/new_style</url-pattern>
    </com.spittr.servlet-mapping>

    <session-com.spittr.config>
        <session-timeout>2</session-timeout>
    </session-com.spittr.config>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/errors/error404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>javax.mail.MessagingException</exception-type>
        <location>/WEB-INF/pages/errors/errorMessagingException.jsp</location>
    </error-page>
</com.spittr.web-app>