<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css"/>
</head>
<body>
reg form, yeah
<!--<sf:form method="POST" commandName="spitter" cssClass="card-panel teal lighten-2">
    <h3>Register in Spitter</h3>
    <table>
        <tr>
            <td>First Name:</td>
            <td><sf:input path="firstName"/></td>
        </tr>
        <tr>
            <td colspan="2"  class="error"><sf:errors path="firstName" /> </td>
        </tr>

        <tr>
            <td>Last Name:</td>
            <td><sf:input path="lastName"/></td>
        </tr>
        <tr>
            <td colspan="2"  class="error"><sf:errors path="lastName" /> </td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><sf:input path="email"/></td>
        </tr>
        <tr>
            <td colspan="2"  class="error"><sf:errors path="email" /> </td>
        </tr>

        <tr>
            <td>Username:</td>
            <td><sf:input path="username"/></td>
        </tr>
        <tr>
            <td colspan="2"  class="error"><sf:errors path="username" /> </td>
        </tr>

        <tr>
            <td>Password:</td>
            <td><sf:password path="password"/></td>
        </tr>
        <tr>
            <td colspan="2"  class="error"><sf:errors path="password" /> </td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Register" style="width: 100%"/></td>
        </tr>
    </table>
</sf:form>-->
</body>
</html>
