<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css"/>
</head>
<body>

<form method="POST" th:object="${spitter}" enctype="multipart/form-data">
    <h3>Register in Spitter</h3>
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="firstName" th:field="*{firstName}"/></td>
        </tr>
        <tr th:if="${#fields.hasErrors('firstName')}">
            <td colspan="2"><span th:text="${#fields.errors('firstName')}"></span></td>
        </tr>

        <tr>
            <td>Last Name:</td>
            <td>
                <input type="text" th:field="*{lastName}"/>
            </td>
        </tr>
        <tr th:if="${#fields.hasErrors('lastName')}">
            <td colspan="2"><span th:text="${#fields.errors('lastName')}"></span></td>
        </tr>

        <tr>
            <td>Email:</td>
            <td>
                <input type="email" th:field="*{email}"/>
            </td>
        </tr>
        <tr th:if="${#fields.hasErrors('email')}">
            <td colspan="2"><span th:text="${#fields.errors('email')}"></span></td>
        </tr>

        <tr>
            <td>Username:</td>
            <td>
                <input type="text" th:field="*{username}"/>
            </td>
        </tr>
        <tr th:if="${#fields.hasErrors('username')}">
            <td colspan="2"><span th:text="${#fields.errors('username')}"></span></td>
        </tr>

        <tr>
            <td>Password:</td>
            <td>
                <input type="text" th:field="*{password}"/>
            </td>
        </tr>
        <tr th:if="${#fields.hasErrors('password')}">
            <td colspan="2"><span th:text="${#fields.errors('password')}"></span></td>
        </tr>

        <tr>
            <td>Txt:</td>
            <td><input type="file" name="textFile"/></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Register" style="width: 100%"/></td>
        </tr>
    </table>
</form>
</body>
</html>
